body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: whitesmoke;
}

.container {
  width: 932px;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.nav__logo a {
  margin-left: 8px;
  font-size: 1.3em;
  color: chocolate;
}

.logo {
  height: 80%;
  width: auto;
  border-radius: 100%;
  padding: 4px;
}

.nav__body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__item {
  height: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin: 0 4px;
  color: black;
  transition: all 0.3s ease-in-out;
}

.nav__item:hover {
  color: chocolate;
  box-shadow: 0 1px 0 chocolate;
}

.nav__item--selected {
  color: chocolate;
  box-shadow: 0 2px 0 chocolate;
}

.nav__item--selected:hover {
  color: chocolate;
  box-shadow: 0 2px 0 chocolate;
}

main {
  margin: 56px 0;
}

.profile {
  display: flex;
  padding-top: 28px;
  justify-content: center;
}

.profile__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.profile__header {
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__photo {
  background: linear-gradient(135deg, chocolate 15%, #542a0c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 156px;
  height: 156px;
  border-radius: 100%;
}

.profile__photo img {
  border: solid 2px white;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.profile__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__name {
  color: chocolate;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.profile__about {
  margin-top: 12px;
  font-size: 1.1em;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.skills {
  display: block;
  width: 90%;
  margin-bottom: 16px;
}

.skill__list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.skills h1 {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 4px;
}

.skill__item {
  display: block;
  min-width: 56px;
  margin: 8px 16px;
  padding: 6px 16px;
  text-align: center;
  background-color: chocolate;
  color: white;
  border-radius: 4px;
}

.skill__name {
  display: block;
}

.skill__item--feature {
  color: gold;
}

.profile__link {
  width: 90%;
  margin: 8px 0;
}

.profile__link:last-of-type {
  margin-bottom: 24px;
}

.profile__link h1 {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
}

.profile__link a {
  color: chocolate;
  font-size: 1.2em;
  margin: 0 12px;
}

.profile__link i {
  color: chocolate;
  font-size: 1.2em;
  margin-right: 4px;
}

.footer {
  width: 100%;
  height: 56px;
  background-color: chocolate;
}

.footer__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.footer__body a {
  color: white;
  font-weight: bold;
}
